h2 {
    background-color: darkgreen;
    color: chartreuse;
}

.minha_h2{
    background-color:  khaki;
    color: blueviolet;
}

.minha_h2{
    background-color: hotpink;
    color: black;

}

h2 {
    background-color: darkgreen;
    color: firebrick;
}
#seletor_p1{
    background-color: brown;

}
.deixar_verde{
    background-color: green;
}
